<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="DatabaseConnectionString" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\v11.0;Initial Catalog=EvCoSampleDatabase;Integrated Security=true;MultipleActiveResultSets=true" />		
	</connectionStrings>
	<appSettings>
		<!-- Service Bus specific app setings for messaging connections -->
		<add key="Microsoft.ServiceBus.ConnectionString"
			value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>
	</appSettings>
</configuration>